* {
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
  }

body {
    background-image: url('dust_scratches.png');
    height:100%;
    margin: 0;
    padding: 0;
  }
  
  #container {
    height: 100%;
    position: relative;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 25%;
    margin-right:25%;
  }
  
  
  #header {
    height: 70px;
    padding: 20px;
    margin-bottom: 20px;
    color: #f7fafa;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#f7fafa;
    vertical-align: middle;
    align-content: center;
    width: 1500px;
  }
  
  #body {
    padding:10%;
    padding-bottom: 70px;
    height: 700px;
  }
  
  .box-set {
      position: absolute;
      padding: 20px;
      background-repeat: no-repeat;
      text-align: center;
      width: 960px;
      left: -50px;
    }
  
    .box {
      position: absolute;
      text-align: center;
    }
     
      .box-1 {
          text-align-last: center;
          width: 260px;
          height: 70px;
          margin: auto;
          margin-bottom: 10px;
          background: #4aaaa5;
          padding: 25px;
          top: -90px;
          left: 117px;
          color: #ffffff; 
          font-family: 'Georgia', Times, Times New Roman, serif;
          font-size: 18.5px;
          font-weight: 900;
          letter-spacing: 3px;
        }
  
      .box-2 {
          text-align-last: center;
          width: 400px;
          height: 50px;
          margin:auto;
          margin-bottom: 20px;
          float: right;
          padding: 20px;
          top: -90px;
          right: -130px;
          color: #706c6c; 
          font-family: 'Georgia', Times, Times New Roman, serif;
          font-size: 14px;
          text-indent: 0.5cm;
          font-weight: 200;
          letter-spacing: 1px
          
    }
  
    li{
        display: -webkit-inline-box;
        float: right;
        list-style-type: horizontal;
          margin: 0;
          padding: 2px;
          padding-left: 30px;
          vertical-align: middle;
          color: #2b2c2c;
    }
  
  
    a:link {
      color: #31021d;
    }
    
    a:visited {
      color: rgb(35, 36, 34);
    }
  
    .box-3 {
        bottom: 550px;
        left: 257px;
        width: 440px; 
        padding: 25 px;
        border-bottom-color: #c0caca; 
        border-style: solid;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 100px;
        z-index: 3;
      }
    
      #text1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
        font-weight: 50px;
        line-height: 0.5cm;
        letter-spacing: 0.1cm;
        color: #4aaaa5; 
        margin-top: 50px;
        margin-left: 10px;
        text-align: left;
        text-indent: 0.5cm;
        font-weight: 900;
      }

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
    text-align: left;
}

/* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
    bottom: 0;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
    color:#3a3a3a;
    text-align: left;
}

textarea {
	height:213px;
	background: #efefef;
}

#submit {
    width:127px;
    height:38px;
    background-color: #4aaaa5;
    text-align: center;
    border: 0.2cm;
    border-color: #031a18;
    margin-top:20px;
    cursor:pointer;
    color: white;
}

	#submit:hover {
	    opacity:.9;
    }
    
    #footer {
        position:absolute;
        bottom: 0%;
        text-align: center;
        width: 100%;
        left:0%;
        right:0%;
        height: 70px;
        margin-top: 30%;
        padding: 20px;
        padding-bottom: 20px;
        border-top-style: solid;
        border-top-color: #4aaaa5;
        border-top-width: 0.3cm;
        background-color: #666;
        color: #ffffff;
        clear: both;
      }